<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text=${title}></title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card" style="background: #FFFFFF">
					
						<div th:if="${existUser}" class="alert alert-danger" role="alert">
							<span th:text="${existUser}"></span>
						</div>
						<div th:if="${success}" class="alert alert-success" role="alert">
							<span th:text="${success}"></span>
						</div>
						
						<h1 class="text-center"
							style="font-family: roboto; padding-buttom: 10px">Register
							Here!!</h1>

					

						<form action="" th:action="@{/do_register}" th:object="${user}"
							method="post">


							<div class="mb-3">
								<label class="form-label">Full Name </label> <input type="text"
									class="form-control" name="name" aria-describedby="emailHelp">
									
							</div>
							<div class="mb-3">
								<label class="form-label">Your Email</label>
								 <input type="email"
									class="form-control" name="userName"
									aria-describedby="emailHelp" >
							</div>
							<div class="mb-3">
								<label class="form-label">Passowrd</label> <input
									type="password" class="form-control" name="password"
									aria-describedby="emailHelp">
							</div>

							<div class="container text-center">
								<button type="reset" id="reset" class="btn btn-danger">Reset</button>
								<button type="submit" id="submit" class="btn btn-primary">Submit</button>
								<a href="login">Login Here</a>
							</div>
						</form>



					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>